<div class="footer">
  <div class="footer-links">
    <%= link_to "", "#", :class => "fa fa-instagram" %>
    <%= link_to "", "https://www.facebook.com/kineboucau/", :class => "fa fa-facebook" %>
    <%= link_to "", "#", :class => "fa fa-twitter" %>
    <%= link_to "", "#", :class => "fa fa-linkedin" %>
  </div>
  <div class="footer-right">
    <a href="#">où, quand, comment ?</a>
  </div>
</div>
