.footer {
  background: #E6E6E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: $beige;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $green;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $yellow;
  opacity: 1;
}
.footer-right a {
  font-family: 'Dancing Script', cursive !important;
  font-size: 22px;
  color: $green;
  opacity: 0.8;
  text-decoration: none;
  padding: 0px 10px;
  &:hover {
    color: $yellow;
    opacity: 1;
  }
}
