// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #F7B633;
$orange: #E67E22;
$green: #295F4E;
$beige: #F4E5C2;
$gray: #000000;
$light-gray: #F4F4F4;
$light-green: #6DB193;

